@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Sacramento&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #f5f8f1;
}

